img {
  position: absolute;
  width: 10rem;
  padding: 5px;
  margin-top: -22.5px;
}

.nav {
  background-color: #fff;
}

#log-in { 
  width: 100px;
  border-radius: 30px;
  margin: auto;
}

#sign-up { 
  color: #fff;
  width: 100px;
  border-radius: 30px;
  margin: auto;
}